<!--
=========================================================
* Material Kit 3 - v3.1.0
=========================================================

* Based on Product Page:  https://www.creative-tim.com/product/material-kit
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com
 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="~{fragments/core :: head(~{::title},_)}">
    <title>
        Recommendation System -Sign Up
    </title>

</head>

<body class="sign-in-basic">
<!-- Header Transparent -->
<header th:replace="~{auth/fragment/header :: header}"></header>
<!-- End Header -->
<div class="page-header align-items-start min-vh-100"
     th:style="|background-image: url('@{/assets/image/ian-valerio-road-header-unsplash.jpg}')|">
    <!--main part of the page-->
    <div class="container my-auto">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8  ">
                <div class="card z-index-0 fadeIn3 fadeInBottom">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                            <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign Up</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form role="form" class="text-start" method="post" th:action="@{/register}"
                              th:object="${account}">
                            <div th:if="${#fields.hasErrors()}"
                                 class="alert alert-danger alert-dismissible fade show" role="alert"
                                 style="max-width: 500px; margin: 0 auto;">
                                <ul class="mb-0 mt-2">
                                    <li class="text-white" th:each="err : ${#fields.errors('username')}"
                                        th:text="${err}"></li>
                                    <li class="text-white" th:each="err : ${#fields.errors('password')}"
                                        th:text="${err}"></li>
                                </ul>
                                <div th:if="${#fields.hasGlobalErrors()}"
                                     class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="max-width: 500px; margin: 0 auto;">
                                    <div class="mb-0 mt-2 text-white" th:text="${#fields.globalErrors()}"></div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                            <input type="hidden" sec:csrf="true"/>
                            <input type="hidden" th:field="*{role}"/>
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label" for="username">User Name</label>
                                <input type="text" class="form-control" th:field="*{username}" required>
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" class="form-control" th:field="*{password}" required>
                                <!--                                       minlength="8" pattern=".*[0-9].*"-->
                                <!--                                       title="Password must be at least 8 characters and contain at least one number">-->
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2 fs-4">
                                        Sign Up
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="row text-center mt-3">
                            <div class="col-12 mt-3">
                                <a th:href="@{/login}" class="btn bg-gradient-dark w-75 my-2 mb-2">
                                    Back to Sign In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<footer th:replace="~{auth/fragment/footer :: footer}"></footer>
<!--   Core JS Files   -->
<script th:src="@{/assets/js/core/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/plugins/perfect-scrollbar.min.js}"></script>
<!-- Control Center for Material UI Kit: parallax effects-->
<script th:src="@{/assets/js/material-kit.min.js}"></script>
</body>

</html>