<head th:fragment="head (title, meta)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="${meta}" />
    <title th:replace="${title}">Anime Recommendation system</title>
    <!-- Theme CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/css/material-kit.min.css}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <!--my main css-->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
</head>

<th:block th:fragment="csrfTokens">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</th:block>

<th:block th:fragment="btScriptInclude">
    <th:block th:insert="~{fragments/core :: searchUI}"></th:block>
    <th:block th:insert="~{fragments/core :: coreScripts}"></th:block>
</th:block>

<th:block th:fragment="searchUI">
    <script th:src="@{/assets/js/formUI.js}"></script>
    <script th:src="@{/assets/js/searchSuggest.js}"></script>
</th:block>

<th:block th:fragment="coreScripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script th:src="@{/assets/js/plugins/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/material-kit.min.js?v=3.1.0}" type="text/javascript"></script>
</th:block>