<th:block th:fragment="menuContent">
    <!-- welcome message -->
    <h6 class="text-primary fw-bold px-3 py-2 mb-0 d-flex align-items-center"
        style="font-size: 1rem; background-color: #f8f9fa; border-radius: 0.5rem;">
        👋 Welcome
        <span sec:authorize="isAuthenticated()" class="ms-1 text-dark fw-semibold"
            th:text="${#authentication.name}"></span>
        <span sec:authorize="isAnonymous()" class="ms-1 text-muted fw-semibold">Guest</span>
    </h6>
    <!--user menu-->
    <div sec:authorize="isAuthenticated()">
        <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
            Dashboard
        </h6>
        <a th:href="@{/settings}" class="dropdown-item border-radius-md">
            <span>Settings</span>
        </a>
        <a th:href="@{/watchlist}" class="dropdown-item border-radius-md">
            <span>Watchlist</span>
        </a>
        <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 ">
            Account</h6>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="dropdown-item border-radius-sm">
                <span>Sign Out</span>
            </button>
        </form>
    </div>
    <!--guest menu-->
    <div sec:authorize="isAnonymous()">
        <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 ">
            Account
        </h6>
        <a th:href="@{/login}" class="dropdown-item border-radius-sm">
            <span>Sign In</span>
        </a>
        <a th:href="@{/register}" class="dropdown-item border-radius-sm">
            <span>Sign Up</span>
        </a>
    </div>
    <!-- end of the menu-->
</th:block>