<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/core :: head(_,_)}"></head>

<body class="bg-light d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/header :: header}"></header>
    <main class="flex-grow-1"></main>
    <!--footer-->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <th:block th:insert="~{fragments/core :: btScriptInclude}"></th:block>
    <th:block th:insert="~{fragments/htmxFragment :: htmxFragment}"></th:block>
</body>

</html>