<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/core :: head(~{::title},~{fragments/core :: csrfTokens})}">
    <title>Watchlist</title>
</head>

<body class=" d-flex flex-column min-vh-100">
    <header th:replace="~{fragments/header :: header}"></header>
    <main class="flex-grow-1">
        <section class="py-5">
            <div class="container-fluid">
                <h2 class="mb-4">
                    Personal Watchlist:
                </h2>
                <div class="row">
                    <div th:each="item : ${watchlist}" class="col-md-auto col-sm-auto col-lg-auto mb-4"
                        th:id="'item'+${item.idAnimeId()}">
                        <div class="card" style="width: fit-content;">
                            <div class="d-flex">
                                <div class="flex-shrink-1">
                                    <a th:href="@{'https://myanimelist.net/anime/' + ${item.idAnimeId} + '/'}"
                                        class="text-decoration-none">
                                        <img th:src="${item.animeImageUrl}" th:alt="${item.animeEnglishName}"
                                            class="card-img-top img-fluid">
                                    </a>
                                </div>
                            </div>
                            <div class="card-body  p-2 ">
                                <h5 class="card-title mb-2 text-wrap" style="max-width: 200px;"
                                    th:text="${item.animeEnglishName()}">Anime name
                                </h5>
                                <div class="d-flex">
                                    <div class="d-flex flex-column flex-grow-1">
                                        <span class="badge rounded-pill bg-secondary mb-1 ">
                                            <i class="ti ti-eye fs-6"></i>
                                            <a th:href="@{'/anime/' + ${item.idAnimeId} }"
                                                class="text-white">Details</a>
                                        </span>
                                        <span class="badge bg-info rounded-pill">
                                            <i class="ti ti-world fs-6"></i>
                                            <span th:text="'MAL: ' + ${item.animeScore}"></span>
                                        </span>
                                    </div>
                                    <div class="flex-shrink-1 align-self-start ms-2">
                                        <div
                                            th:replace="~{fragments/watchBtn :: watchBtnDeleteItem(${item.idAnimeId})}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <th:block th:insert="~{fragments/core :: btScriptInclude}" />
    <th:block th:insert="~{fragments/htmxFragment :: htmxFragment}" />
</body>

</html>